@using SCIR.Models.ViewModels

@model CursoVM
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css{
    <link href="~/Content/css/Cursos/CadastroCursoForm.css" rel="stylesheet" />
}
<div id="alert">

</div>
<hr>
<h3 class="pb-3">Cadastro Curso</h3>

<input onclick="location.href='/Cursos/Form'" class="btn bg-success botao_cor btn-sm blockConfirmation" type="button" value="Novo">

@using (Html.BeginForm("Salvar", "Cursos", FormMethod.Post, new { @id = "CadastroCurso", @name = "CadastroCurso" }))
{

    <div class="form-row pb-1 pt-4 ">
        <div class="form-group col-md-2">
            <label for="CodigoEmpresa">Código</label>
            <div class="input-group mb-1">
                <input type="text" class="form-control blockConfirmation" id="Curso_id" placeholder="Código" disabled name="curso.Id" value="@Model.Curso.Id">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary blockConfirmation" onclick="location.href='@Url.Action("Index", "Cursos")';" type="button" id="button-addon2">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control blockConfirmation" id="NomeCurso" placeholder="Nome" name="curso.Nome" value="@Model.Curso.Nome">
        </div>

    </div>
    <div class="form-row pb-5 ">
        <div class="col-auto">
            <div class="form-check mb-2">
                <input class="form-check-input blockConfirmation" type="checkbox" name="curso.Ativo" value="true" checked="@Model.Curso.Ativo" id="Ativo">
                <label class="form-check-label" for="Ativo">
                    Ativo
                </label>
            </div>
        </div>
    </div>

    <input type="button" id="Botao_Salvar" class="btn botao_cor_verde btn-lg blockConfirmation" value="Salvar">
    <div class="form-row float-right">
        <div class="form-group col-md-1">
            <input type="button" id="Botao_Excluir_Cadastro" value="Excluir" class="btn botao_cor btn-lg blockConfirmation">
        </div>
    </div>
}



@section scripts{
    <script src="~/Content/js/Cursos/CadastroCursoForm.js"></script>
    <script>
        var consistencia = "";
        var consistenciaTipo = 1;
        
        if (JSON.parse("@Model.Consistencia.Inconsistencias.Any()".toLowerCase()))
        {
            consistencia = "@Model.Consistencia.InconsistenciasToString";
            consistenciaTipo = 1;

        }else if (JSON.parse("@Model.Consistencia.Advertencias.Any()".toLowerCase()))
        {
           consistencia  = "@Model.Consistencia.AdvertenciasToString";
           consistenciaTipo = 2;
        } else if (JSON.parse("@Model.Consistencia.Sucesso.Any()".toLowerCase()))
        {
           consistencia  = "@Model.Consistencia.SucessoToString";
           consistenciaTipo = 3;
        }
        
        VerificarConsistencia(consistencia, consistenciaTipo);
    </script>
}

