@using SCIR.Models.ViewModels

@model FormularioValidacaoUCVM

<div class="form-row pb-1 pt-4 ">
    <b><label for="Moyivo">Motivo: </label><br /></b>
    <p style="word-wrap: break-word!important" class="text-break">@Model.FormularioValidacaoUC.Motivo</p>
</div>

<div class="form-row pb-1 pt-4 ">
    <div class="form-group col-md-3">
        <b><label for="UnidadeCurricular">Unidade Curricular:</label></b><br />
        <p type="text" id="UnidadeCurricular" name="FormularioValidacaoUC.UnidadeCurricularId">@Model.FormularioValidacaoUC.UnidadeCurricular.Id - @Model.FormularioValidacaoUC.UnidadeCurricular.Nome</p>
    </div>
    <div class="form-group col-md-3">
        <b><label for="TipoValidacaoCurricular">Tipo Validacao Curricular:</label><br /></b>
        <p type="text" id="TipoValidacaoCurricular" name="FormularioValidacaoUC.TipoValidacaoCurricularId">@Model.FormularioValidacaoUC.TipoValidacaoCurricular.Id - @Model.FormularioValidacaoUC.TipoValidacaoCurricular.Nome</p>
    </div>
</div>