@using SCIR.Models.ViewModels
@using SCIR.Business.Login

@model RequerimentoVM
@{
    /**/

    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/Formulario/CadastroFormularioForm.css" rel="stylesheet" />
}
<div id="alert">

</div>
<hr>
<h3 class="pb-3">Requerimento: @Model.Protocolo</h3>

<span class="Oculto" id="requerimentoId">@Model.Id</span>
<div class="form-row pb-1 pt-4 ">
    <div class="form-group col-md-3">
        <label for="TipoRequerimento">Tipo Requerimento</label>
        <select class="js-example-basic-single select2 blockConfirmation" id="Select2_TipoRequerimento">
            @if (Model.TipoRequerimentoId > 0)
            {
                <option value="@Model.TipoRequerimentoId">@Model.TipoRequerimento.Nome</option>
            }
        </select>
    </div>
</div>

<hr />
<div id="Formulario"></div>

@section scripts{
    <script>
        function CarregarParametrosAdicionaisGrid(request) {
            request.requerimentoId = @Model.Id;
        }

        var listaGrid = "@Url.Action("GetAnexosRequerimento")";
    </script>
    <script src="~/Content/js/select2.min.js"></script>
    <script src="~/Content/js/pt-BR.js"></script>
    <script src="~/Content/js/Requerimento/CadastroFormularioForm.js"></script>
}

