@using SCIR.Models.ViewModels

@model RequerimentoVM


@{
    ViewBag.Title = "VisualizarRequerimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css{
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/Formulario/VisualizarFormulario.css" rel="stylesheet" />
}
<div id="alert">

</div>
<hr>
<h3 class="pb-3">Requerimento: @Model.TipoRequerimento.Nome</h3>

<span class="Oculto" id="Origem">@ViewBag.origem</span>
<input onclick="location.href='#'" id="Encaminhar" class="btn bg-success botao_cor btn-sm blockConfirmation" type="button" value="Encaminhar">
<input onclick="location.href='#'" class="btn bg-info botao_cor btn-sm blockConfirmation" type="button" value="Histórico">

@using (Html.BeginForm("Salvar", "FormularioValidacaoUC", FormMethod.Post, new { @id = "CadastroFormularioValidacaoUC", @name = "CadastroFormularioValidacaoUC" }))
{
    <div class="form-row pb-1 pt-4 ">
        <div class="form-group col-md-2 Oculto">
            <label for="Codigo">Código</label>
            <div class="input-group mb-1">
                <input type="text" class="form-control blockConfirmation" id="Id" placeholder="Código" disabled name="FormularioValidacaoUC.Id" value="@Model.Id">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="Protocolo">Protocolo:</label>
            <p type="text" id="Protocolo" name="FormularioValidacaoUC.Protocolo">@Model.Protocolo</p>
        </div>
        <div class="form-group col-md-3">
            <label for="Abertura">Abertura:</label>
            <p type="text" id="Abertura" name="FormularioValidacaoUC.Abertura">@Model.Abertura.ToShortDateString()</p>
        </div>
        <div class="form-group col-md-3">
            <label for="Encerramento">Encerramento:</label>
            <p type="text" id="Encerramento" name="FormularioValidacaoUC.Encerramento">
                @if (Model.Encerramento != null)
                {
                    Model.Encerramento.ToShortDateString();
                }

            </p>
        </div>

        <div class="form-group col-md-3">
            <label for="StatusAtual">Status Atual: </label>
            <p type="text" id="StatusNome" name="FormularioValidacaoUC.StatusRequerimento.Nome">@Model.StatusRequerimento.Nome</p>
            <input type="text" class="form-control Oculto" id="StatusRequerimentoAtualId" disabled name="FormularioValidacaoUC.StatusRequerimentoId" value="@Model.StatusRequerimentoId">

        </div>

    </div>

    <div class="form-row pb-1 pt-4 ">
        <div class="form-group col-md-3">
            <label for="Requerente">Requerente:</label>
            <p type="text" id="RequerenteNome" name="FormularioValidacaoUC.UsuarioRequerenteNome">@Model.UsuarioRequerenteId - @Model.UsuarioRequerente.Nome</p>
            <input type="text" class="form-control Oculto" id="RequerenteId" disabled name="FormularioValidacaoUC.UsuarioRequerenteId" value="@Model.UsuarioRequerenteId">
        </div>
        <div class="form-group col-md-3">
            <label for="Atendente">Atendente Atual:</label>
            <p type="text" id="RequerenteNome" name="FormularioValidacaoUC.UsuarioRequerenteNome">@Model.UsuarioAtendenteId - @Model.UsuarioAtendente.Nome</p>
            <input type="text" class="form-control Oculto" id="AtendenteAtualId" disabled name="FormularioValidacaoUC.UsuarioAtendenteId" value="@Model.UsuarioAtendenteId">
        </div>

    </div>

    <div id="AncoraCamposExtras">

    </div>

    <div class="form-row pb-1 pt-4 ">
        <label for="Atendente">Última mensagem de encaminhamento:</label>
        <p style="word-wrap: break-word!important" class="text-break">@Model.Mensagem</p>
    </div>

    <h5>Anexos</h5>
    <table id="grid-basic" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="Id" data-order="asc" data-type="numeric">Id</th>
                <th data-column-id="Nome">Nome</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Ação</th>
            </tr>
        </thead>
    </table>
    <iframe id="iframe" style="display:none;"></iframe>

}

@section scripts{
    <script src="~/Content/js/select2.min.js"></script>
    <script src="~/Content/js/pt-BR.js"></script>
    <script>
        function CarregarParametrosAdicionaisGrid(request) {
            request.requerimentoId = @Model.Id;
        }

        var listaGrid = "@Url.Action("GetAnexosRequerimento")";
    </script>
    <script src="~/Content/js/Utils/GridInit.js"></script>
    <script>
    var consistencia = "";
    var consistenciaTipo = 1;

    if (JSON.parse("@Model.Consistencia.Inconsistencias.Any()".toLowerCase()))
    {
        consistencia = "@Model.Consistencia.InconsistenciasToString";
        consistenciaTipo = 1;

    }else if (JSON.parse("@Model.Consistencia.Advertencias.Any()".toLowerCase()))
    {
        consistencia  = "@Model.Consistencia.AdvertenciasToString";
        consistenciaTipo = 2;
    } else if (JSON.parse("@Model.Consistencia.Sucesso.Any()".toLowerCase()))
    {
        consistencia  = "@Model.Consistencia.SucessoToString";
        consistenciaTipo = 3;
    }

    VerificarConsistencia(consistencia, consistenciaTipo);
    </script>
    <script src="~/Content/js/Requerimento/VisualizarRequerimento.js"></script>
}

