<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SCIR - IFSC</title>
    <link rel="icon" href="~/Content/img/ifsc.ico">
    <!-- Font Google Knewave CSS -->
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/jquery.bootgrid.min.css">
    <!--CSS Próprio -->
    <link rel="stylesheet" href="~/Content/menu.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/paginacao.css">

    @RenderSection("css", required: false)

</head>
<body class="Fundo">
    <div class="cabecalho container-fluid d-flex justify-content-between">
        <div class="logo-ifsc flex-row">
            <div class="logo-header">
                <a class="logo" href="/" title="Página inicial">
                    <img src="~/Content/img/logo-ifsc.svg" class="img-fluid d-none d-sm-block" alt="logo">
                </a>
            </div>
        </div>
        <div class="logo-ifsc flex-row">
            <div class="logo-header">
                <a class="logo" href="/" title="Página inicial">
                    <img src="~/Content/img/Logo.png" class="img-fluid d-block d-sm-none " width="100" height="100" alt="logo">
                </a>
            </div>
        </div>
        <div class="form-inline m-5 my-lg-3">
            <div class=" dropdown">
                <label class=" dropdown-toggle text-success font-weight-bold text-uppercase " type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Marcelo Miglioli
                </label>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Alguma ação</a>
                    <a class="dropdown-item" href="#">Outra ação</a>
                    <a class="dropdown-item" href="#">Sair</a>
                </div>
            </div>
        </div>

    </div>
    <nav class="navbar navbar-expand-md navbar-dark  bg-success">
        <a class="navbar-brand Fonte-Knewave-Red" href="#"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="@Url.Action("Index", "Cursos")">Curso</a>
                        <a class="dropdown-item" href="#">Fluxo de Status</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "StatusRequerimento")">Status</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "TipoRequerimento")">Tipo de Requerimento</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "UnidadeCurricular")">Unidade Curricular</a>
                        <a class="dropdown-item" href="#">Usuário</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consulta</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Requerimentos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Minha Fila </a>
                </li>
            </ul>
        </div>
    </nav>
    <main>

        <!-- AQUI VAI O CONTEUDO DA PAGINA -->
       
        <div class="pt-5 form-signin ">
            <div class="FundoEmpresa mt-3  centro">
                @RenderBody()
            </div>
        </div>
        <!-- AQUI VAI O CONTEUDO DA PAGINA -->
    </main>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.bootgrid.min.js"></script>
    <script src="~/Content/js/Utils/NotificationAlert.js"></script>
    @RenderSection("scripts", required: false)


</body>
    </html>
