@using SCIR.Business.Login

<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SCIR - IFSC</title>
    <link rel="icon" href="~/Content/img/ifsc.ico">
    <!-- Font Google Knewave CSS -->
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/jquery.bootgrid.min.css">
    <!--CSS Próprio -->
    <link rel="stylesheet" href="~/Content/menu.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/paginacao.css">

    @RenderSection("css", required: false)

</head>
<body class="Fundo">
    <div class="cabecalho container-fluid d-flex justify-content-between">
        <div class="logo-ifsc flex-row">
            <div class="logo-header">
                <a class="logo" href="/" title="Página inicial">
                    <img src="~/Content/img/logo-ifsc.svg" class="img-fluid d-none d-sm-block" alt="logo">
                </a>
            </div>
        </div>
        <div class="logo-ifsc flex-row">
            <div class="logo-header">
                <a class="logo" href="/" title="Página inicial">
                    <img src="~/Content/img/Logo.png" class="img-fluid d-block d-sm-none " width="100" height="100" alt="logo">
                </a>
            </div>
        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="form-inline m-5 my-lg-3">
                <div class=" dropdown">
                    <label class=" dropdown-toggle text-success font-weight-bold text-uppercase " type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div id="UsuarioNome">@LoginServer.RetornarUsuarioLogado(User.Identity.Name).Nome.ToUpper()</div>
                    </label>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Sair</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            using (Html.BeginForm("Autentica", "Login", FormMethod.Post, new { @id = "LoginAutenticacao", @name = "LoginAutenticacao", @class = "form-inline" }))
            {
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInput">E-Mail</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                </div>
                            </div>
                            <input type="email" name="login" class="form-control" id="inlineFormInputGroup" placeholder="e-mail">
                        </div>
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Senha</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                                    </svg>
                                </div>
                            </div>
                            <input type="password" name="senha" class="form-control" id="inlineFormInputGroup" placeholder="Senha">
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2 bg-success">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </button>
                    </div>
                </div>
            }
        }
    </div>
    <nav class="navbar navbar-expand-md navbar-dark  bg-success">
        <a class="navbar-brand Fonte-Knewave-Red" href="#"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            @if (Request.IsAuthenticated)
            {<ul class="navbar-nav mr-auto">
                @if (User.IsInRole("ADMINISTRADOR")) { 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="@Url.Action("Index", "Cursos")">Curso</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "FluxoStatus")">Fluxo de Status</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "StatusRequerimento")">Status</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "TipoRequerimento")">Tipo de Requerimento</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "UnidadeCurricular")">Unidade Curricular</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Usuario")">Usuário</a>
                        </div>
                    </li>
                 }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Requerimento</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="@Url.Action("Form", "Requerimento")">Novo</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Requerimento")">Consultar</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Minha Fila </a>
                    </li>

                </ul>
            }
        </div>
    </nav>
    <main>

        <!-- AQUI VAI O CONTEUDO DA PAGINA -->

        <div class="pt-5 form-signin ">
            <div class="FundoEmpresa mt-3  centro">
                @RenderBody()
            </div>
        </div>
        <!-- AQUI VAI O CONTEUDO DA PAGINA -->
        <!-- Modal Genérico-->
        <div class="modal fade" id="ModalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Título do modal</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="conteudoModal">
                            @*<img id="spninner" src="~/Content/img/spinner.gif" class="Oculto" width="20" height="20" />*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn botao_cor_verde btn-sm" id="Botao1" data-dismiss="modal" value="Fechar" />
                        <button class="btn botao_padrao btn-sm" id="Botao2" data-dismiss="modal" value="Salvar mudanças"></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.bootgrid.min.js"></script>
    <script src="~/Content/js/Utils/NotificationAlert.js"></script>
    @if (Request.IsAuthenticated)
    {
        <script src="~/Content/js/Login/Login.js"></script>
    }

    @RenderSection("scripts", required: false)


</body>
</html>
